*{
	margin: 0;
	padding: 0;
}

.main-box{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(image1.jpg);
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;  
}
.main-box .heading1{
	color: white;
	padding: 20px 100px;
	font-size: 50px;
}

.inner-box{
	width: auto;
    padding: 3rem 2rem;
	border-width: 2px;
	font-size: 25px;
}

.SadhnaChouhan-box{
	padding: 3rem 2rem;
	margin-top: 10px;
	width: 50%;
	float: left;
	color: white;
	border-style: solid;
}
.Classes-box{
	padding: 3rem 2rem;
	margin-top: 10px;
	float: right;
	width: 50%;
	color: white;
	border-style: solid;
}
.MainFocus-box{
	padding: 3rem 2rem;
	margin-top: 10px;
	width: 50%;
	float: left;
	color: white;
	border-style: solid;
}
.TeacherDetail-box{
	padding: 3rem 2rem;
	margin-top: 10px;
	width: 50%;
	float: right;
	color: white;
	border-style: solid;
}
@media (max-width: 800px){
	.main-box .heading1{
		font-size: 30px;
		padding: 10px 50px;
	}
	.SadhnaChouhan-box{
		padding: 3rem 2rem;
		font-size: 60%;
	}
	.Classes-box{
		padding: 3rem 2rem;
		font-size: 60%;
	}
	.MainFocus-box{
		padding: 3rem 2rem;
		font-size: 60%;
	}
	.TeacherDetail-box{
		padding: 3rem 2rem;
		font-size: 60%;
	}
}




